<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mail Sender</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <form action="" method="post" enctype="multipart/form-data">
    <h1>Mail Sender</h1>
    
    {{ form.csrf_token }}

    {{ form.email.label(for="Email") }}
    {{ form.email(required=True, placeholder="Digite seu e-mail") }}

    {{ form.password.label(for="Senha") }}
    {{ form.password(required=True, placeholder="Senha App Password (Com espaços)") }}

    {{ form.subject.label(for="subject") }}
    {{ form.subject(required=True, placeholder="Digite o assunto") }}

    {{ form.body.label(for="body") }}
    {{ form.body(required=True, placeholder="Digite o corpo da mensagem", maxlength=600) }}

    {{ form.attachment.label(for="attachment") }}
    {{ form.attachment(accept=".pdf,.doc,.docx,.txt,.jpg,.jpeg,.png") }}

    {{ form.submit_button() }}
  </form>
</body>

</html>